{% extends 'base.html' %}
{% block title %}
    Frontend Developer
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark" style="color:white">
        <h2>Full Stack Developer</h2>
        <p class="lead font-weight-normal">Razvoj softwera je kao slaganje lego kockica, putem koda se prave programi koji izvršavaju određenu radnju te služe svrsi. Cilj programiranja nije samo finalizacija zadataka, cilj je da napravljeni kod ima smisao i da izvršava ono što mu je svrha!

        Uzet ćemo opet isti primjer sa lego kockicama, u ovom slučaju to su površine na koje slažemo kockice i pravimo zamišljene strukture, ova metafora se može iskoristiti za Framework-e. Jednostavno rečeno, Framework je platforma na kojoj gradimo određeni kod gdje već imamo predefinisana pravila.

        Kroz tromjesečnu praksu Full Stack Developeri će se najviše iz frontend perspektive susretati sa Flutter Framework-om. Kroz istoimeni Framework ćemo razvijati web i mobilne aplikacije te ćemo koristiti Node.js i Python kao backend tehnologije.

        Savjet, što više vježbaj i doslovno kopiraj kod sa tutoriala te testiraj to što je napisano! Usvajaj stečeno znanje te koristi što više GitHub i commit-aj kod na isti. Mimo praktičnog dijela bitno je da razumiješ i teoretski dio te da shvatiš barem šta su SOLID principi i zašto su bitni! 🙏</p>
        <br><br><br>

        <h4>Flutter Mobile App + Node.js Backend</h4>
        <p class="lead font-weight-normal">Veoma koristan kurs kako razviti Flutter aplikaciju sa backendom napisanim u Node.js-u. Iako ćemo na tromjesečnoj praksi koristiti drugačiji način spajanja te ćemo koristiti AWS cloud, ovo može biti super korisno. Obavezno je da se ovaj kurs prođe čitav te da se ista aplikacija razvije.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=ylJz7N-dv1E" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>How to speak the language of Application Architecture</h4>
        <p class="lead font-weight-normal">Razvoj softwera nije samo slaganje kockica, već zahtijeva planiranje načina slaganja tih kockica. Kako bi bio/bila u stanju da razumiješ koncepte kako se ovo radi, potrebno je da barem pogledaš ovaj video. Ovdje možeš pronaći veoma dobar sadržaj. Ako budeš imao/la vremena, toplo preporučujemo da pogledaš još sličnih videa na ovu temu!</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=kGYGEcdPE2U" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>APIs for Beginners</h4>
        <p class="lead font-weight-normal">Kao i u govoru, možemo imati najbolju ideju, ali ako tu ideju ne možemo iskomunicirati onda sve pada u vodu. Tako je i sa softwerom, potrebno je da razumiješ na koji način frontend komunicira sa backend-om.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=GZvSYJDk-us" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>Git and GitHub for Beginners</h4>
        <p class="lead font-weight-normal">GitHub je jedna od najpopularnijih platformi za čuvanje koda i za kolaboraciju za programere te je potrebno da razumiješ barem njene osnove.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=tRZGeaHPoaw" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>SOLID Principles (Uncle Bob)</h4>
        <p class="lead font-weight-normal">Predavanje na temu SOLID principa od strane Rober C. Martina, poznatijeg kao Uncle Bob. Robert je u svijetu softwera ekvivalentan Ronaldu u fudbalu. Ako budeš imao/la vremena, preporučujemo da pogledaš još predavanja na temu SOLID principa i predavanja Uncle Bob-a.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=zHiWqnTWsn4" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>

        <br><br>

        <h4>Uncle Bobs solid Principles made easy</h4>
        <p class="lead font-weight-normal">Pojednostavljena verzija ovog što Uncle Bob govori.</p>
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=pTB30aXS77U" target="_blank" rel="noopener noreferrer">>POGLEDAJ</a>
    </div>
{% endblock %}